.Todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0em auto .6em;
  padding: 1.3rem;
  border-radius: 2em;
  background-color: #fff4;


  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
}

.Todo:hover{
  background-color: rgba(187, 187, 187, 0.678);
}
.Form__Control{
  font-family: system-ui, sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  width: 75%;
}
.Form__Control input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]::before {
  --form-control-color: red;
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.Form__Control span{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.OtherOptions{
  display: flex;
  gap: .5em;
}
.OtherOptions > *{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font: inherit;
  color: currentColor;
}

/* .Form__Control:hover, .OtherOptions > *:hover {
   color: rgb(135, 245, 159); 
} */


.editblock{
  outline: 2px solid #000;
  cursor: text;
}